.max{
	padding-left:50px;
	background-color:#EC6EAD;
}
.cl{
	padding-top:130px;
}
.boot{
	color:white;
}
.boot1{
	padding-top:10px;
	color:white;
}
.boot2{
	padding-top:20px;
	color:white
}
.boot3{
	margin-top:30px;
	height:50px;
	border-radius:30px;
	border:1px solid #43C6AC;
	width:180px;
}
.boot3:hover{
	color:black;
	background-color:#43C6AC;
}
.get{
	margin-top:120px;
}
.sun{
	margin-left:20px;
}
.cmc{
	border:1px solid #d4d3dd;
	border-radius:20px;
	background-color:#d4d3dd;
	box-shadow:#d4d3dd 10px 5px 5px 10px;
}
.cmc1{
	border:1px solid #d4d3dd;
	border-radius:20px;
	background-color:#d4d3dd;
	box-shadow:#d4d3dd 10px 5px 5px 10px;
}
.cmc2{
	border:1px solid #d4d3dd;
	border-radius:20px;
	background-color:#d4d3dd;
	box-shadow:#d4d3dd 10px 5px 5px 10px;
}
.cd{
	margin-left:120px;
}
.cd1{
	margin-left:120px;
}
.cd2{
	margin-left:120px;
}
.how{
	padding-left:60px;
}
.how1{
	padding-left:70px;
}
.how2{
	padding-left:70px;
}
.why{
	margin-top:70px;
	padding-top:50px;
	background-color:f5f5f7;
	padding-bottom:50px;
}
.in{
	color:#0abfbc;
}
.moon{
	margin-top:30px;
	margin-left:50px;
}
.ok{
	padding-left:25px;
	
}
.ok1{
	margin-left:-25px;
}
.ok3{
	margin-left:-15px;
}
.ok4{
	margin-left:-29px;
}
.ok6{
	margin-left:-12px;
}
.ok7{
	margin-left:-28px;
}
.ok9{
	padding-left:10px;
}
.ok10{
	margin-left:-20px;
}
.ok11{
	padding-left:20px;
}
.way{
	margin-top:70px;
}
.use1{
	color:#ff8008;
}
.use3{
	padding-top:20px;
}
.bill{
	color:#ff8008;
	padding-top:50px;
}
.bill2{
	padding-top:10px;
}
.bill3{
	padding-top:5px;
}
.bill4{
	padding-top:5px;
}
.noo{
	margin-top:30px;
}
.noo1{
	margin-top:20px;
}
.spend{
	margin-top:30px;
}
.spend1{
	margin-top:30px;
	height:50px;
	border-radius:30px;
	border:1px solid #43C6AC;
	width:230px;
}
.spend1:hover{
	color:black;
	background-color:#43C6AC;
}
.acces{
	margin-top:70px;
}
.brand1{
	padding-top:100px;
}
.int{
	color:#9D50BB;
}
.dee{
	padding-top:10px;
}
.dee1{
	padding-top:20px;
}
.dee2{
	padding-top:20px;
}
.dee3{
	margin-top:30px;
	height:50px;
	border-radius:30px;
	border:1px solid #43C6AC;
	width:230px;
}
.dee3:hover{
	color:black;
	background-color:#43C6AC;
}
.team{
	margin-top:70px;
}
.india{
	padding-top:70px;
}
.india1{
	color:#CAC531;
}
.india3{
	padding-top:20px;
}
.india4{
	padding-top:10px;
}
.india5{
	padding-top:10px;
}
.india6{
	margin-top:30px;
	height:50px;
	border-radius:30px;
	border:1px solid #43C6AC;
	width:230px;
}
.india6:hover{
	color:black;
	background-color:#43C6AC;
}
.book{
	margin-top:70px;
}
.str{
	padding-top:50px;
}
.str1{
	color:#00F260;
}
.str3{
	padding-top:20px;
}
.str4{
	padding-top:10px;
}
.str5{
	margin-top:30px;
	height:50px;
	border-radius:30px;
	border:1px solid #43C6AC;
	width:230px;
}
.str5:hover{
	color:black;
	background-color:#43C6AC;
}