.grow{
	margin-top:150px;
}
.slash{
	color:#4400c9;
}
.slash1{
	padding-top:20px;
}
.tom{
	margin-top:100px;
}
.note{
	padding-top:10px;
	padding-left:40px;
}
.note1{
	padding-top:80px;
}
.note2{
	padding-top:10px;
}
.note22{
	padding-top:80px;
}
.align{
	margin-top:150px;
}
.align1{
	padding-left:50px;
}
.align2{
	padding-top:20px;
	padding-left:50px;
}
.align3{
	padding-top:10px;
	padding-left:50px;
}
.align4{
	margin-top:-50px;
	margin-left:100px;
}
.whole12{
	padding-top:40px;
}
.connect{
	margin-top:140px;
}
.contant1{
	margin-top:-80px;
	margin-left:20px;
}
.contant3{
	padding-top:20px;
}
.contant4{
	padding-top:10px;
}
.contant{
	margin-top:90px;
}
.coming{
	margin-top:150px;
}
.track33{
	padding-top:50px;
}
.track{
	padding-left:70px;
}
.track1{
	padding-top:20px;
	padding-left:70px;
}
.track2{
	padding-top:10;
	padding-left:70;
}
.track3{
	margin-top:-40px;
	margin-left:150px;
}
.print{
	margin-top:150px;
	margin-left:70px;
}
.step{
	margin-top:-90px;
}
.step11{
	padding-top:100px;
}
.step2{
	padding-top:20px;
}
.step3{
	padding-top:10px;
}
.pay{
	margin-top:150px;
}
.eee{
	padding-left:100px;
}
.hitting{
	padding-left:70px;
}
.hitting1{
	padding-left:70px;
	padding-top:20px;
}
.hitting2{
	padding-left:70px;
	padding-top:10px;
}
.graph{
	margin-left:150px;
	margin-top:-80px;
}
.crush{
	margin-top:100px;
	padding-top:70px;
	background-color:#f5f5f7;
}
.card{
	color:#7b22ff;
}
.card1{
	padding-top:10px;
}
.big1{
	margin-top:50px;
	margin-left:50px;
}
.big2{
	padding-left:25px;
	margin-top:-10px;
}
.big3{
	padding-left:8px;
}
.big4{
	padding-left:28px;
}
.look1{
	margin-left:65px;
	margin-top:50px;
}
.look2{
	margin-left:45px;
	margin-top:-10px;
}
.look3{
	padding-left:5px;
}
.deets{
	margin-top:50px;
	margin-left:65px;
}
.deets1{
	margin-top:-10px;
	padding-left:20px;
}
.deets2{
	padding-left:35px;
}
.trip1{
	margin-top:45px;
	margin-left:80px;
}
.trip2{
	margin-top:-4px;
	padding-left:37px;
}
.trip3{
	padding-left:34px;
}
.hours{
	margin-top:100px;
}
.over{
	color:#7b22ff;
}
.over1{
	padding-top:10px;
	margin-top:20px;
}
.runs{
	margin-left:130px;
	margin-top:50px;
}
.run1{
	margin-top:60px;
}
.run2{
	margin-top:-20px;
	padding-left:60px;
}
.run3{
	margin-left:20px;
	margin-top:50px;
}
.run4{
	margin-left:70px;
	margin-top:30px;
}
.run5{
	margin-top:30px;
}
.run6{
	padding-left:20px;
	padding-top:80px;
}
.run7{
	margin-left:-35px;
	margin-top:83px;
}
.run8{
	padding-left:10px;
	padding-top:5px;
}
.run9{
	padding-left:80px;
}
.run10{
	margin-left:470px;
	margin-top:40px;
	height:50px;
	border-radius:30px;
	border:1px solid #43C6AC;
	margin-top:50px;
	width:200px;
}
.run10:hover{
	color:black;
	background-color:#43C6AC;
}
.run11{
	padding-top:10px;
}
.seas{
	margin-top:100px;
	background-color:#f5f5f7;
}
.login7{
	padding-top:220px;
	margin-left:50px;
}
.login1{
	color:#7b22ff;
}
.login3{
	padding-top:20px;
}
.login4{
	margin-top:40px;
	height:50px;
	border-radius:30px;
	border:1px solid #43C6AC;
	margin-top:50px;
	width:200px;
}
.login4:hover{
	color:black;
	background-color:#43C6AC;
}
.login5{
	margin-top:120px;
	margin-left:70px;
}
.payid{
	margin-top:70px;
}
.payid1{
	color:#7b22ff;
}
.view{
	background-color:#0f0f42;
	margin-top:100px;
} 
.clas{
	margin-top:130px;
}
.product{
	color:white;
	padding-top:100px;
	padding-left:27px;
}
.product1{
	padding-top:20px;
	color:white;
}
.today{
	color:white;
	padding-top:100px;
	padding-left:27px;
}
.today1{
	padding-top:20px;
	color:white;
}
.ten{
	color:white;
	padding-top:100px;
	padding-left:25px;
}
.ten1{
	padding-top:20px;
	color:white;
}
.help{
	color:white;
	padding-top:100px;
	padding-left:25px;
}
.help1{
	padding-top:20px;
	color:white;
}

.name{
	color:white;
	padding-left:10px;
	padding-top:10px;
}
.boo{
	color:white;
}