.bonus{
	background-color:#673AB7;
	padding-top:100px;
	margin-bottom:50px;
}
.like{
	color:white;
	padding-left:40px;
	margin-top:-20px;
}
.like1{
	color:white;
}
.like2{
	color:white;
}
.like3{
	color:white;
}
.like4{
	color:white;
}
.High{
	padding-top:100px;
}
.high1{
	padding-top:-20px;
}
.rate{
	background-color:#f5f5f7;
}
.feel{
	color:#673AB7;
}
.our{
	padding-top:50px;
}
.image{
	margin-top:30px;
	margin-left:40px;
}
.line{
	padding-left:20px;
}
.line1{
	margin-left:-30px;
}
.line2{
	padding-left:20px;
}
.text{
	margin-left:-15px;
}
.text1{
	margin-left:-44px;
}
.text2{
	margin-left:-20px;
}
.why{
	margin-left:-15px;
}
.why1{
	margin-left:-30px;
}
.each{
	margin-left:-35px;
}
.each1{
	margin-left:-33px;
}
.each2{
	padding-left:15px;
}
.up{
	color:#673AB7;
}
.total{
	padding-top:100px;
}
.super{
	color:#673AB7;
}
.super1{
	padding-top:10px;
}
.over{
	margin-top:70px;
}
.tire{
	padding-left:70px;
}
.tire1{
	padding-left:500px;
}
.tire2{
	margin-top:20px;
	border-bottom:3px solid #00dbde;
}
.meet{
	margin-top:10px;
	padding-top:15px;
	border:1px solid white;
	height:50px;
}
.meet1{
	padding-left:35px;
}
.meet2{
	padding-left:500px;
}
.fall{
	padding-top:15px;
	border:1px solid 
	margin-top:10px;
	height:50px;
	background-color:#e6dada;
}
.eran{
	padding-left:20px;
}
.eran1{
	padding-left:473px;
}
.mean{
	padding-top:15px;
	border:1px solid white;
	margin-top:10px;
	height:50px;
}
.mean1{
	padding-left:45px;
}
.mean2{
	padding-left:511px;
}
.on{
	color:#673AB7;
}
.change{
	padding-top:50px;
}
.work{
	margin-top:50px;
	padding-top:50px;
	background-color:#f5f5f7;
}
.work1{
	color:#0099F7;
}
.work4{
	padding-left:10px;
	padding-top:30px;
}
.work6{
	padding-top:150px;
}
.work5{
	padding-left:10px;
}
.work8{
	padding-left:15px;
}
.work9{
	margin-left:-15px;
}
.work10{
	padding-left:10px;
}
.rom{
	padding-top:30px;
}
.rom1{
	padding-left:20px;
}
.rom3{
	padding-left:20px;
}
.ram{
	padding-top:30px;
}
.ram1{
	padding-left:20px;
}
.ram3{
	padding-left:20px;
}
.mon{
	padding-top:30px;
}
.mon1{
	padding-left:20px;
}
.mon3{
	padding-left:20px;
}
.sun{
	padding-top:30px;
}
.sun1{
	padding-left:20px;
}
.sun3{
	padding-left:20px;
}
.work3{
	border-bottom:3px solid #bc4e9c;
	width:950px;
	margin-left:170px;
	margin-top:-70px;
}
.ten{
	padding-top:40px;
	padding-left:30px;
}
.ten2{
	padding-top:40px;
	padding-left:65px;
}
.ten4{
	padding-top:40px;
	padding-left:100px;
}
.ten6{
	padding-top:40px;
	padding-left:140px;
}
.ten8{
	padding-top:40px;
	padding-left:180px;
}
.level{
	padding-top:40px;
	margin-left:-30px;
}
.level2{
	padding-left:40px;
}
.mnb{
	margin-top:60px;
	padding-left:20px;
}
.mnb1{
	padding-left:10px;
	margin-top:40px;
}
.opr{
	padding-left:70px;
}
.opr1{
	padding-left:75px;
}
.opr2{
	padding-left:54px;
}
.opr3{
	padding-left:55px;
}
.opr4{
	padding-left:60px;
}.ot{
	padding-top:30px;
	margin-left:-20px;
}
.ot2{
	padding-top:30px;
	padding-left:25px;
}
.ot4{
	padding-top:30px;
	padding-left:25px;
}
.ot6{
	padding-top:30px;
	padding-left:23px;
}
.ot8{
	padding-top:30px;
	padding-left:27px;
}
.ot10{
	padding-top:30px;
	padding-left:30px;
}
.car{
	padding-top:30px;
}
.day{
	margin-top:50px;
}
.month{
	padding-top:80px;
}
.month1{
	padding-top:10px;
}
.month2{
	padding-top:10px;
}
.month3{
	padding-top:20px;
}
.month4{
	padding-top:20px;
}
.month5{
	padding-top:20px;
}
.don2{
	color:#D3CCE3;
}
.miss{
	margin-top:50px;
	margin-left:120px;
	border:1px solid #8e44ad;
	background-color:#8e44ad;
	border-radius:20px;
	width:1000px;
	box-shadow:10px 5px 5px 10px #8e44ad;
}
.new{
	margin-left:60px;
}
.just{
	margin-top:70px;
}
.most{
	margin-top:170px;
}
.most2{
	padding-top:10px;
}
.most3{
	padding-top:20px;
}
.after{
	margin-top:90px;
}
.happy{
	padding-top:120px;
}
.happy1{
	padding-top:20px;
}
.happy2{
	margin-top:30px;
	height:50px;
	border-radius:30px;
	border:1px solid #43C6AC;
	width:180px;
}
.happy2:hover{
	color:black;
	background-color:#43C6AC;
}
.core{
	color:#ffc0cb;
}
.core2{
	padding-top:20px;
}
.manage1{
	margin-top:110px;
}
.award{
	margin-top:50px;
}
