.out{
	background-color:#0052D4;
}
.more{
	color:white;
	padding-top:150px;
	padding-left:50px;
}
.more1{
	color:white;
	margin-bottom:150px;
	padding-top:10px;
	padding-left:50px;
}
.find{
	background-color:#e3c1ff;
	margin-top:50px;
}
.change{
	padding-top:40px;
}
.change1{
	padding-top:40px;
}
.change2{
	padding-top:30px;
}
.hit{
	background-color:#f5f5f7;
}
.bills{
	color:#7303c0;
	padding-left:70px;
	padding-top:100px;
}
.bills1{
	padding-left:70px;
}
.bills2{
	padding-left:70px;
	padding-top:10px;
}
.july{
	padding-left:43px;
	padding-top:20px;
}
.july1{
	padding-top:20px;
}
.new{
	margin-top:80px;
	margin-left:30px;
}
.seen{
	margin-top:150px;
}
.see{
	color:#7F00FF;
}
.see2{
	padding-top:10px;
}
.see3{
	padding-top:10px;
}
.online{
	background-color:#f5f5f7;
}
.app{
	padding-top:70px;
}
.app1{
	color:#7F00FF;
}
.app4{
	margin-top:50px;
}
.year{
	margin-top:100px;
}
.com{
	color:#7F00FF;
}
.to1{
	height:50px;
	border-radius:30px;
	border:1px solid #43C6AC;
	width:180px;
}
.to1:hover{
	color:black;
	background-color:#43C6AC;
}
.sign{
	margin-top:50px;
	background-color:#7F00FF;
}
.pay1{
	color:white;
}
.pay2{
	margin-top:20px;
	height:50px;
	border-radius:30px;
	border:1px solid #43C6AC;
	width:180px;
}
.pay2:hover{
	color:black;
	background-color:#43C6AC;
}
.pty{
	padding-top:150px;
}
.view{
	background-color:#0f0f42;
} 
.clas{
	margin-top:130px;
}
.product{
	color:white;
	padding-top:100px;
	padding-left:27px;
}
.product1{
	padding-top:20px;
	color:white;
}
.today{
	color:white;
	padding-top:100px;
	padding-left:27px;
}
.today1{
	padding-top:20px;
	color:white;
}
.ten{
	color:white;
	padding-top:100px;
	padding-left:25px;
}
.ten1{
	padding-top:20px;
	color:white;
}
.help{
	color:white;
	padding-top:100px;
	padding-left:25px;
}
.help1{
	padding-top:20px;
	color:white;
}

.name{
	color:white;
	padding-left:10px;
	padding-top:10px;
}
.boo{
	color:white;
}
